.container {
    border-radius: 10px;
    background-color: #fff;
}

.input {
    padding: 10px 0px 10px 0px
}

.heading {
    font-size: 24px;
    font-weight: 400;
    color: #0f4a8a;
    font-family: 'Noto-Sans-Regular';
    text-align: start;
    padding: 20px 20px;
}

.label {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    font-family: 'Noto-Sans-Regular';
}

.defaultNo {
    position: absolute;
    top: 59px;
    left: 13px;
}

.form {
    width: 50%;
}