

.title{
    color: #0f4a8a;
    font-size: 36px;
    font-weight: 600;
}

.subTitle{
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.register{
    color: #f0a400;
    cursor: pointer;
}