.horizontalLineContainer {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 40px 0px;
  }

  .horizontalLine {
    flex-grow: 1;
    border-top: 1px solid #ccc;
  }

  .orText {
    margin: 0 10px;
    font-weight: 400;
    font-size: 24px;
  } 
