.resetPass{
    background: white;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    row-gap: 32px;
}

.resetPassHeading{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 1rem;
}

.passwordNote{
    font-size: 14px;
    color: #ccc;
}